@import 'node_modules/html-slides'
@import 'node_modules/html-slides/themes/default'

.em {
  background-color: #f6a122;
}

.codevise {
  background-color: #50a125;
}

.logo {
  color: transparent;
  z-index: 100;
  position: absolute;
  right: 20px;
  bottom: 5px;
  height: 60px;
  width: 60px;
  background: url("../assets/logo.png") top left no-repeat;
  background-size: 100% auto;
}